%main.container.general-main-wrap
  .text-center
    %h3.general-login-title= t(:sign_up)
    = link_to omniauth_authorize_path(User, :github), class: 'general-login-icon', method: :post do
      %i.fa.fa-github-square
    %p.general-login-text= t(:or)
  .general-form
    = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), defaults: { input_html: { class: 'form-group' }}) do |f|
      .form-inputs
        = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }, placeholder: t('placeholder.enter_email')
        = f.input :password, required: true, input_html: { autocomplete: "new-password" }, placeholder: t('placeholder.password')
        = f.input :password_confirmation, required: true, input_html: { autocomplete: "new-password" }, placeholder: t('placeholder.confirm_password')
      .form-actions
        .text-center
          = f.submit t(:sign_up), class: 'btn btn-default mb-20'
  .text-center
    %p.general-sign-text.text-center
      = t(:have_account)
      = link_to t(:log_in), new_session_path(resource_name), class: 'in-gold-500'
