%body
  %table
    %td{ align: 'center', colspan: '3', style: 'padding: 25px 0px; font-size: 17px; line-height: 24px; font-size: 18px; text-align: center' }
    = t(:order_number, number: @presenter.cart.uniq_number)
  %table{ border: '1', style: 'border: 4px double black; width: 100%; text-align: center' }
    %tr
      %th= t(:book_label)
      %th= t(:price_label)
      %th= t(:quantity)
      %th= t(:sub_total)
    - @presenter.cart.order_items.each do |order_item|
      %tr
        %td= order_item.book.title
        %td= t(:price, money: order_item.book.price)
        %td= order_item.quantity
        %td= t(:price, money: order_item.book.price * order_item.quantity)
  %table{ style: 'width: 300px' }
    %tr
      %td= t(:order_total)
      %td
    %tr
      %td.font-16= t(:sub_total)
      %td= t(:price, money: @presenter.sub_total)
    %tr
      %td= t(:coupon)
      %td= t(:price, money: @presenter.discount)
    %tr
      %td= t(:delivery)
      %td= t(:price, money: @presenter.cart.delivery_type.price)
    %tr
      %td
        %b= t(:order_total)
      %td
        %b= t(:price, money: @presenter.order_total_with_delivery)
