.book.col-xs-6.col-sm-3.equal-height
  .general-thumb-wrap
  .thumbnail.general-thumbnail
    = image_tag book.main_image_url(:small), class: 'img-shadow general-thumbnail-img'
    .thumb-hover
      .general-thumb-link-wrap
        %a.thumb-hover-link{href: book_path(book)}
          %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
        = link_to cart_path(order: { order_item: { book_id: book, quantity: 1 } }), method: :put, class: 'thumb-hover-link' do
          %i.fa.fa-shopping-cart.thumb-icon
  .general-thumb-info
    %p.title= book.title
    %p.font-16.in-gold-500= t(:price, money: book.price)
    %span.divider-sm
    %p.lead.small= book.all_authors
