%main.container
  %a.general-back-link{href: books_path}
    %i.fa.fa-long-arrow-left.mr-15
    = t(:back)
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          = image_tag @book.main_image_url
        .images.clearfix
          - @book.images.each do |image|
            %a.img-link{href: "#", 'data-featherlight': image.image_url(:large)}
              = image_tag image.image_url
    .col-sm-6
      %h1.mt-res-0= @book.title
      %p.lead.small= @book.all_authors
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10= t(:price, money: @book.price)
        .col-xs-5.col-md-3
          .input-group.general-position
            %a.input-link
              %i.fa.fa-minus.line-height-40
            %input.form-control.quantity-input{type: "text", value: '1'}
            %a.input-link
              %i.fa.fa-plus.line-height-40
        .col-xs-7.col-md-5
          %button.btn.btn-default.pull-right.general-position= t('book.add')
      .general-info-wrap.divider-lg
        %p= t('book.description')
        %p.lead.small.line-height-2
          .max-lines= @book.description
          %a.in-gold-500.ml-10#read_more= t('book.read_more')
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('book.year')
          %p.lead.small.pull-right= @book.year_of_publication
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('book.dimensions')
          %p.lead.small.pull-right= t('book.dimensions_param', height: @book.height, width: @book.width, depth: @book.depth)
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('book.materials')
          %p.lead.small.pull-right= @book.materials
  .mb-80
    %h3= t(:write_review)
    %p.general-info-text= t(:score)
    .mb-15
      - 5.times do |index|
        %i.fa.fa-star.rate-star.rate-empty{ id: "star-#{index}" }
    .row
      = render partial: 'reviews/form', locals: { review: Review.new, book: @book }
  .mb-80
    %h3.in-gold-500.mb-25 #{t(:reviews)} (#{@book.reviews.count})
    = render partial: 'reviews/review', collection: @book.reviews.where(status: 1)
